@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body{
    font-family: inherit;
    background-color: #f4f4f4;
    color: #534343;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    margin-bottom: 10px;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #3a4149;
    background: #e7ebee;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
}

#output{
    margin-top: 30px;
    border: 3px dashed wheat;
    font-size: 18px;
    background: rgb(210, 232, 231);
    color: rgb(11, 38, 61);
}
